/* mobile version */
@media screen and (max-width: 500px) {
    
    * {
        font-size: 3.5vw;
        letter-spacing: -1px;
    }

    .slide-content {
        height: 55vh;
    }

    .slide-main .text {
        padding-top: 2vh;
        padding-left: 13vw;
        padding-right: 14vw;
    }
    
    .container_desktop {
        display: none;
    }
    
    .container_mobile {
        display: flex;
        margin: 0 auto;
    }
    
    .slide-footer {
        display: flex;
        flex-wrap: wrap;
    }
    
    .slide-footer .address {
        min-width: 230px;
        max-height: 85px;
    }
    
    .slide-footer .contacts {
        min-width: 150px;
    }
    
    .first_column_year {
        margin-left: 10vw;
    }

    .first_column_location {
        margin-left: 3vw;
    }

    .middle {
        margin-bottom: 12.5vh;
    }

    .slide-footer .socials li {
        display: inline-block;
        padding-right: 3vw;
    }

    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: 50px;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

}

