/* mobile version */
@media screen and (max-width: 500px) {
    
    * {
        font-size: 3.5vw;
    }

    li {
        height: 25px;
        line-height: 19px;
    }

    .slide-content {
        height: 100vh;
    }

    .slide-main {
        height: 70vh;
    }

    .slide-main .text {
        padding-top: 2vh;
        padding-left: 4vw;
        padding-right: 4vw;
    }
    
    .container_desktop {
        display: none;
    }
    
    .container_mobile {
        display: flex;
        margin: 0 auto;
    }
    
    .slide-footer {
        display: flex;
        flex-wrap: wrap;
    }
    
    .slide-footer .address {
        min-width: 230px;
        max-height: 85px;
    }
    
    .slide-footer .contacts {
        min-width: 150px;
    }
    
    .first_column_year {
        margin-left: 7vw;
    }

    .first_column_location {
        margin-left: 0vw;
    }

    .middle {
        margin-bottom: 6.5vh;
    }

    .slide-footer .socials li {
        display: inline-block;
        padding-right: 3vw;
    }

    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: 50px;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .projects {
        padding-right: 0vw;
    }

    .arrow {
        height: 30px;
        width: 30px;
    }
    
    .text-content {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: baseline;
    }

    .text p {
        line-height: 18px;
    }

    .slide-content {
        min-height: 0px;
    }

    .projects {
        padding-right: 0;
        padding-top: 0; 
            
    }
}

