/* mobile version */
@media screen and (max-width: 500px) {
  * {
        font-size: 2.8vw;
    }

}

.slide-main .text {
    padding-top: 20vh;
    padding-left: 13vw;
    padding-right: 14vw;
}

.container_desktop {
    display: none;
}

.container_mobile {
    display: flex;
    margin: 0 auto;
    padding-left: 10vw;
}