* {
    font-family: "Neue Haas Unica W1G";
    overflow: hidden;
}
body {
    margin: 0;
}

/* Slideshow container */
.main {
  position: relative;
  margin: 0;
  display: flex;
}

/* Hide the images by default */
.slides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.slides .title {
    font-size: 1vw;
    position: absolute;
    top: 0;
    left: 15px;
}
.slides .text {
    font-size: 16pt;
    padding: 200px 220px 12px 220px;
}

.slides .under_construction {
    position: absolute;
    top: 0;
    right: 18px;
    font-size: 9pt;
    padding: 12px 12px;
}

.bottom-container {
  position: fixed;
  bottom: 0;
  display: flex;
}


.slides .contacts {
    padding: 12px 12px;
    align-self: flex-end;
    display: flex;
    bottom: 0;
    left: 460px;
    font-size: 1.4vw;
}

.slides .address {
    padding: 12px 12px;
    align-self: flex-end;
    display: flex;
    bottom: 0;
    left: 15px;
    font-size: 1.4vw;
}

.slides .address p {
    margin: 0
}

.slides .contacts p {
    margin: 0
}

.slides .under_construction h1 {
    margin: 0
}

.blackSlide{
    color: black;
}

.whiteSlide {
    color: white;
}

.container {
    display: flex;
    padding: 150px;
    font-size: 1.3vw;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* slides background image */
